<% if current_user%>
<div class="text-center well">
  <ul class="nav nav-pills nav-stacked">
<!--    <li><%#= link_to @user.name, @user %></li>-->
    <li><%= link_to('Sign out', sign_out_path) %></li>
  </ul>
</div>
<%end %>