.comment, .like {
  .content {
    border: 1px solid $border-color;
    margin-left: 75px;
    margin-right: 15px;
    padding: 5px 15px;
    .text {
      font-size: $default-font-size;
    }
  }
  .created-at {
    margin-left: 75px;
  }
}