@import url(https://fonts.googleapis.com/css?family=Noto+Sans);
@import url(https://fonts.googleapis.com/css?family=Montserrat);

body {
  background: $bg-color;
  font-family: 'Noto Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
}

.activity {
  background: white;
  border: 1px solid $border-color;
  border-radius: 3px;
  padding: 10px;
  margin: 10px;
}

.name {
  display: inline-block;
  font-size: $default-font-size;
  margin-left: 10px;
}

.action {
  font-size: $default-font-size;
  margin-left: 2px;
}

.created-at {
  color: $light-text-color;
  font-size: $small-font-size;
  margin-top: 15px;
}

.btn {
  font-family: 'Montserrat', sans-serif;
  padding: 10px 20px;
}

.btn-primary {
  background-color: $navbar-color;
}

.btn-sm {
  padding: 7px 15px;
  border: none;
}

div.editable {
  height: 65px;
  max-height: 65px;
  overflow-y: scroll;
}

div.editable,
input[type="email"],
input[type="password"],
input[type="text"],
textarea {
  box-shadow: none !important;
  border: 2px solid #ccc !important;

  &:focus {
    border: 2px solid #888 !important;
  };
}

[placeholder]:empty:before {
  content: attr(placeholder);
  color: $light-text-color;
}

[placeholder]:empty:focus:before {
  content: "";
}

.liked {
  color: $liked-color !important;
}

.points span {
  padding: 5px;
  background-color: $bg-color;
  color: $light-text-color;
  display: inline-block;
  font-size: $small-font-size;
  margin-top: 10px;
  margin-right: 10px;
}
.activity-post,
.post {
  background-color: white;
  margin-bottom: 20px;
  .actions {
    margin: 10px;
    padding: 10px;
    a,
    button {
      font-family: 'Montserrat', sans-serif;
      background-color: $border-color;
      color: #555;

      i {
        margin-right: 5px;
      }
    }
  }
}

#links,
#user-info {
  h5 {
    padding: 15px 10px;
    margin: 0;
  }

  i {
    font-size: 1.75rem;
    margin-right: 20px;
  }
}

p {
  font-size: 1.65rem;
  line-height: 3rem;
}
